@using site.Models
<ul class="list-group">
    @foreach (var question in Puzzle.Questions)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-6 col-sm-12">@question.Text</div>
                <div class="col-md-6 col-sm-12">
                    <RadioGroup Name="@Guid.NewGuid().ToString()" Options="@question.Options" />
                </div>
            </div>
        </li>
    }
</ul>
<br />
<form>
    @foreach (var answer in Puzzle.Answers)
    {
        <div class="form-group col-md-6 col-sm-12">
            <label>@answer.Description</label>
            <input type="number" class="form-control" @bind-value="answer.Value" />
        </div>
    }
    <div class="message-out">@Message</div>
    <button class="btn btn-success" type="button" @onclick="Validate">Complete</button>
</form>

@code {

    [Parameter] public EventCallback OnComplete { get; set; }
    [Parameter] public AorBPuzzle Puzzle { get; set; }
    private string Message { get; set; }

    private void Validate()
    {
        if (Puzzle.Answers.All(a => a.Value == a.Expected))
        {
            OnComplete.InvokeAsync(this);
        }

        Message = "Wrong answer!";
    }
}
