@inherits PictureCountsModel
@using site.Models
@using Blazor.DragDrop.Core
@using Microsoft.Extensions.DependencyInjection
@using site.Infrastructure

<Dropzone class="houses" Name="AnswerOptions">
    @foreach (var answer in Puzzle.Options)
    {
        <Draggable Tag="@answer.Value">
            <div style="@(Style.FromDictionary(Puzzle.Style))">
                @answer.Description
            </div>
        </Draggable>
    }
</Dropzone>
<div>
    @((MarkupString)Puzzle.Text)
</div>

<Dropzone class="answers" Name="Answers">
    &nbsp;
</Dropzone>

@if (IsComplete)
{
    <button class="btn btn-success"  @onclick="@(() => OnComplete.InvokeAsync(this))">Complete</button>
}